/*propiedades para la section de contacto */

form {
    padding: 2%;
  }

  fieldset {
    color: white;
    padding: 50px;
  }
  
  
  .formularioBttn {
    width: 15em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5em;
  }
  
  #text {
    min-width: 40%;
    max-width: 40%;
    min-height: 172px;
  }

  @media (min-width: 500px) {
    // agregar contenido para que cambie un poco 
    #text {
      min-width: 22%;
      max-width: 22%;
    }
  }
  

  @media (min-width: 900px) {
    
  

    .formulario {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      
    }
    .formularioBttn {
      width: 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 50px;
    }

    #text {
      min-width: 66%;
      max-width: 40%;
      min-height: 172px;
    }
  

    form {
      padding: 100px;
    }

    .bodyfondo{
      background-image: url("../img/background-contacto.jfif");
      background-position: cover;
      background-size:cover;
    }
      #sub {
        min-width: 50%;
        margin-left: 5%;
        margin-right: 10%;
      }
      #res {
        min-width: 50%;
        margin-right: 10%;     
    }

    .mapa {
      border: solid black 1px;
      margin-left: 100px;


      
    }
  }