/*propiedades para la section de contacto */

.container2{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bolder;
}

.navContacto{
  color: white;
  font-size: 30px;
  font-weight: lighter;
}


h2{
  font-weight: bolder;
  font-size: 30px;
}
.btn {
  width: 100px;
  margin-top: 10px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mapa{
  padding-bottom: 3em;
  padding-top: 3em;
}


  @media (min-width: 500px) {

    
    .mapa {
      height: 500px;
      height: 500px;
    }
  }
  

  @media (min-width: 900px) {

    .container2{
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: bolder;
      display: flex;
      justify-content: center;
    
    }
    
    .bodyfondo{
      background-image: url("../img/background-contacto.jfif");
      background-size: cover;
      background-repeat: no-repeat;
    }  

    form {
      padding: 100px;   
    } 

    
  }