/* propiedades para la section de skills */

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  font-weight: bolder;
}

.bar {
  margin-bottom: 3em;
  padding: 3em;
}

.progress {
  margin-bottom: 3em;
}

.container3 {
  justify-content: center;
}

@media (min-width: 500px) {
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3em;
  }
}

@media (min-width: 768px) {
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 3em;
  }
}

@media (min-width: 900px) {
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
  }

  .box {
    transition: all 1s;
  }

  .box:hover {
    transform: rotate(360deg) scale(2);
  }
}
