/* propiedades para la section de skills */

@mixin size($width , $height) {
  height: $height;
  width: $width;
}

.logoHtml, .logoCss, .logoJava, .logoMysql {
    width: 75%;
    height: 75%;
  }
  
  .logos {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  
@media (min-width: 500px) {

}


@media (min-width: 900px) {

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include size (400px, 500px);
    margin: 100px;
    padding: 100px;
    gap: 70px;
  }
  


  .logoHtml, .logoCss, .logoJava, .logoMysql {
    width: 200px;
    height: 200px;
  }

  .box:hover {
    transform: scale(2);
  }

.logoHtml,
.logoCss,
.logoJava,
.logoMysql {
    transition-property: all;
    transition-duration: 3s;
  }
}