@import "fuentes";
@import "generales";
@import "_index";



/* Propiedades para section sobremi */ 

.imagenSobreMi {
  width: 70%;
  height: 70%;
  display: grid;
  justify-content: center;
}

.parrafoSobreMi {
  color: beige;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 15px;
}

/* propiedaes para la section de proyectos*/

.foto1, .foto2, .foto3, .foto4, .foto5{ 
    height: 100%;
    width: 100%;   
  
}

.fotos {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2em; 
  margin-top: 50px;
}

p {
  color: beige;
  gap: 2em;
  text-align: center;

}

nav {
  margin-top: 30px;
  padding-top: 10px;
}


/* propiedades para la section de skills */

.logoHtml, .logoCss, .logoJava, .logoMysql {
  width: 75%;
  height: 75%;
}

.logos {
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items:center;
  color: bisque;
  padding-top: 40px;
}


/*propiedades para la section de contacto */

form {
  padding: 2%;
}


.formularioBttn {
  width: 15em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5em;
}

#text {
  min-width: 40%;
  max-width: 40%;
  min-height: 172px;
} 



@media (min-width:500px){

  .foto1{ 
    height: 200px;
    width: 300px;
    border: 3px solid white;   

  }
  
  .foto2{ 
    height: 200px;
    width: 300px;
    border: 3px solid white;
  }
  
  .foto3{ 
    height: 200px;
    width: 300px;
    border: 3px solid white;
  }
  
  .foto4{ 
    height: 200px;
    width: 300px;
    border: 3px solid white;
  }
  
  .foto5{ 
    height: 200px;
    width: 300px;
    border: 3px solid white;
  }

  .fondo1, .fondo2, .fondo3, .fondo4, .fondo5{
    background-color: rgba(255, 228, 196, 0.521);
    margin: 10px;
    padding: 10px;
  }

  .imagenSobreMi{
    width: 70%;
    height: 70%;
  }
  #text {
    min-width: 24%;
    max-width: 47%;
    min-height: 163px;
  }

}
@media (min-width:768px){

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  

}

footer{
  padding: 0%;
  margin: 0%;
  min-height: 0px;
}
.logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 400px;
  margin: 100px;
  padding: 100px;
  gap: 70px;

}

#text {
  min-width: 24%;
  max-width: 47%;
  min-height: 163px;
}


}



@media (min-width:900px) {

  h1 {
  color: gold;
  text-align: center;
  padding: 40px;
  margin: 5px 10px 12px 15px;
  border: 10px double white;
  font-size: 60px;}

  

header {
  color: goldenrod;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 50px;
}

a {
  text-decoration: none;
  color: rgb(222, 222, 120);
}

footer {
  color: rgb(222, 222, 120);
  background-color: rgba(128, 128, 128, 0.313);
  padding: 10px;
  margin-bottom: 0;                  
}

p {
  color: white;

}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
}

.col {
  padding: 10px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 400px;
  margin: 100px;
  padding: 100px;
  gap: 70px;

}

.foto1{ 
  height: 200px;
  width: 300px;
}

.foto2{ 
  height: 200px;
  width: 300px;
}

.foto3{ 
  height: 200px;
  width: 300px;
}

.foto4{ 
  height: 200px;
  width: 300px;
}

.foto5{ 
  height: 200px;
  width: 300px;
}

.fondo1, .fondo2, .fondo3, .fondo4, .fondo5{
  padding: 0%;
  margin: 0%;
  background-color: none;
  
}

.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

fieldset {
  color: white;
  padding: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.formularioBttn {

  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

form {
  padding: 100px;
}


nav {
  font-size: 30px;
}


#text {
  min-width: 350px;
  max-width: 350px;
  min-height: 172px;

} 


.logoHtml, .logoCss, .logoJava, .logoMysql{
  width: 200px;
  height: 200px;
}

.imagenSobreMi{
  width: 40%;
  height: 40%;
}

.box:hover{
  transform: scale(2);
}

.logoHtml,
.logoCss,
.logoJava,
.logoMysql{  
  transition-property: all;
  transition-duration: 3s;

}

.imagen1 {
  width: 30%;
  height: 30%;
}

.titleProyectos {
  font-size: 100px;
}

.footerSite{
  font-size: 1.5em;
}

.proyectosnav{

  font-size: 40px;
}


#sub{
  min-width: 50%;
  margin-left: 75%;
  margin-right: 136%;
  
  
}

#res{
  min-width: 50%;
  margin-right: 10%;
  margin-top: 1%;

}

}
